.box {
    margin-top: 45px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    text-align: center;

    width: 350px;
    margin-left: 80px;
    border-radius: 10px;
    border: 2px solid black;
}

.box .img-box {
    position: relative;
}

.box .img-box img {

    width: 95px;
    height: 95px;
}

.box .detail-box {
    padding: 25px;
}

.box .detail-box h2 {
    font-weight: bold;
}

.box:hover {
    h2 {
        color: #7335b7;
    }
    border: 2px solid #7335b7;
}

.box .detail-box p {
    font-size: 15px;
}

.box .detail-box a {
    color: #7335b7;
}