<div class="cp-task">
  <img class="cp-choice__img" style="max-width: 240px;" [src]="current.image!.data" alt="">
  @if (question) {
    <p class="cp-prompt">{{ question.text }}</p>
    <div class="ctor-toggle-group" style="justify-content: center;">
      @for (option of options; track option) {
        <button type="button" class="ctor-toggle" style="font-size: 1.4rem; min-width: 56px;"
          (click)="pick(option)">{{ option }}</button>
      }
    </div>
  }
  <p class="cp-feedback">{{ feedback }}</p>
</div>
