<div class="game-replay">
  <button type="button" class="game-replay__btn" (click)="play()">
    <i class="fi fi-rr-volume"></i> Повтор
  </button>
</div>

<div class="game-choices">
  @for (answer of currentAnswers; track answer.word) {
    <button type="button" class="game-choice" (click)="checkAnswer(answer)">
      @if (answer.image) {
        <img class="game-choice__img" [src]="answer.image" alt="">
      }
      <p class="game-choice__label">{{ answer.word }}</p>
    </button>
  }
</div>
