<div class="game-replay">
  <button type="button" class="game-replay__btn" (click)="play()">
    <i class="fi fi-rr-volume"></i> Повтор
  </button>
</div>

<div class="tiles-block">
  <p class="tiles-caption">Буквы:</p>
  <div class="tiles">
    @for (syllable of currentSyllables; track $index) {
      <button type="button" class="tile" [class.tile--empty]="!syllable" (click)="selectSyllable($index)">
        {{ syllable ?? '·' }}
      </button>
    }
  </div>
</div>

<div class="tiles-block">
  <p class="tiles-caption">Слово:</p>
  <div class="tiles">
    @for (syllable of currentSyllables; track $index) {
      <button type="button" class="tile tile--slot" (click)="removeSyllable(answer[$index], $index)">
        {{ answer[$index]?.char ?? '_' }}
      </button>
    }
  </div>
</div>
