<div class="px-3 py-2 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li style="margin-right: 30px;">
          <a [routerLink]="'main'" class="nav-link text-secondary" [routerLinkActive]="' text-white'">
            <i style="font-size: 30px" class="fi fi-sr-journal-alt bi d-block mx-auto mb-1 text-center"></i>
            Главная
          </a>
        </li>
        <li style="margin-right: 30px;">
          <a [routerLink]="'/games'" class="nav-link text-secondary" [routerLinkActive]="' text-white'">
            <i style="font-size: 30px" class="fi fi-sr-puzzle-alt bi d-block mx-auto mb-1 text-center"></i>
            Игры
          </a>
        </li>
        <li>
          <a [routerLink]="'/games'" class="nav-link text-secondary">
            <i style="font-size: 30px;" class="fi fi-sr-square-info bi d-block mx-auto mb-1 text-center"></i>
            Дополнительно
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="image-back">
  <router-outlet></router-outlet>
</div>
