.info-block {
    background-image: url('../../assets/backgrounds/main-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-block {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
}