
<div class="alert alert-info  text-block" role="alert">
    <h4 class="alert-heading text-center">Памятка по работе с детьми с фонетико-фонематическим недоразвитием речи за
        компьютером</h4>
    <p>
        Уважаемые пользователи сайта! Просим ознакомиться с данной информацией ,перед началом использования
        компьютерных игр.<br />
        Дети с фонетико-фонематическим недоразвитием речи имеют ряд особенностей состояния фонематических процессов,
        а именно:
    <ul>
        <li>
            трудности в определении последовательности звуков в слове;
        </li>
        <li>
            неумение сознательно ориентироваться в звуковых элементах слова;
        </li>
        <li>
            несформированность процесса произношения и понимания воспринимаемых на слух звуков речи;
        </li>
        <li>
            искажение звука, одновременное смешение его с другими звуками или вообще опущение;
        </li>
        <li>
            неспособность четко дифференцировать фонемы, слоги в своей и чужой речи;
        </li>
        <li>
            затруднения в формировании процессов звукового анализа.
        </li>
    </ul>

    Игры на данном сайте созданы специально для преодоления этих трудностей, поэтому вы можете использовать его
    для ускорения коррекционно -образовательного процесса.
    <br />
    Игры разделены по лексическим темам, так что помимо формирования фонематического слуха и фонематического
    восприятия, вы можете использовать игры для закрепления знаний по пройденной теме.
    <br />
    Если вам нужно отрабатывать конкретный звук , то для этого есть отдельная папка, в которой находятся игры на
    различные группы звуков. Рекомендуем начинать работу именно с отработки звуков.
    <br />
    Напоминаем, что существуют рекомендации по использованию ИКТ в работе с детьми:
    <ul>
        <li>
            По требованиям СанПиНа обучение детей с использованием компьютера предполагает для детей 5 лет - не
            более
            10 минут, для детей 6-7 лет - не более 15 минут.
        </li>
        <li>
            Образовательную деятельность с использованием компьютера для детей 5-7 лет следует проводить не более
            одного раза в течение дня и не чаще трех раз в неделю.
        </li>
        <li>
            В конце занятия проводить гимнастику для глаз.
        </li>
        <li>
            Нельзя использовать компьютерные технологии на каждом занятии. При частом использовании ИКТ у детей
            теряется особый интерес к таким занятиям.


        </li>
    </ul>


    <h2 class="text-center">Спасибо за внимание! Приятного обучения!</h2>
    <hr>
    <p class="mb-0 text-center">
        <a [routerLink]="'../games'" class="btn btn-primary my-2 mx-5">Перейти к играм</a>
        <a href="#" class="btn btn-secondary my-2">Дополнительно</a>
    </p>
</div>