<div class="back-row">
  <button
    type="button"
    class="lg-btn"
    (click)="goToList({ theme: game.theme, showNested: isShowNestedThemes })"
  >
    <i class="fi fi-rr-arrow-left"></i> К играм
  </button>
</div>

<div
  #gameContainer
  class="game-container"
  [style.backgroundImage]="background ? 'url(' + background + ')' : null"
>
  <div class="character-row">
    <div class="character">
      <img [src]="'assets/' + character" alt="Персонаж">
    </div>
    <div class="bubble">{{ showedMessage }}</div>
  </div>

  <div class="game-content" [hidden]="levelComplete || gameFinished">
    <ng-template #gameContent></ng-template>
  </div>

  <div class="action-bar" *ngIf="levelComplete && !gameFinished">
    <button type="button" class="btn-action" (click)="goToNextLevel()">
      <i class="fi fi-rr-arrow-right"></i> Продолжить
    </button>
  </div>

  <div class="action-bar" *ngIf="gameFinished">
    <button
      type="button"
      class="btn-action"
      (click)="goToList({ theme: game.theme, showNested: isShowNestedThemes })"
    >
      <i class="fi fi-rr-check"></i> Завершить
    </button>
  </div>
</div>
