<button class="btn btn-primary my-2 mx-5 w-35" (click)="goToList({'theme': game.theme})">назад</button>
<div #gameContainer style="background-image: url({{background}}); background-repeat: no-repeat;background-size: 100% 100%;"
    class="game-container">

    <div class="common-content">
        <div class="game-window character-window">
            <img [src]="'assets/' + character" alt="Персонаж">
        </div>

        <div style="z-index: 999;" class="thought">{{showedMessage}}</div>
    </div>

    <div [hidden]="levelComplete || gameFinished" class="game-content">
        <ng-template *ngIf="!gameFinished" #gameContent></ng-template>
    </div>

    <div class="text-center" *ngIf="levelComplete && !gameFinished">
        <button (click)="goToNextLevel()" class="btn btn-primary btn-lg btn-block w-45">
            Продолжить
        </button>
    </div>

    <div class="text-center" *ngIf="gameFinished">
        <button  (click)="goToList({theme: game.theme})"
            type="button" class="btn btn-primary btn-lg btn-block">
            Выход
        </button>
    </div>

</div>